.tableContainer{
flex: 1;
}

.table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    
}

.table th,
.table td {
    border: 1px solid #b9b9b9;
    text-align: left;
    padding: 8px;
}

.table th {
    background-color: #f0f0f0;
    font-weight: bold;
}

.table tr:hover {
    background-color: #f1f1f1;
    transition: background-color 0.2s ease;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.pageSelectContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    /* Espacio entre el texto y el dropdown */
}

.customDropdown {
    position: relative;
    cursor: pointer;
    padding: 4px 16px;
    border: 1px solid #b9b9b9;
    border-radius: 4px;
    background-color: white;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    user-select: none;
    display: flex;
    align-items: center;
    gap: 4px;
}

.customDropdown.open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.dropdownList {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 150px;
    /* Muestra solo 5 elementos con scroll */
    overflow-y: auto;
    border: 1px solid #b9b9b9;
    border-top: none;
    background-color: white;
    z-index: 10;
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdownList li {
    padding: 8px ;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.dropdownList li:hover {
    background-color: #f1f1f1;
}

.activeDropdownItem {
    background-color: #d6d6d6;
}

.navigationButtons {
    display: flex;
    align-items: center;
    border-collapse: collapse;
}

.navButton {
    background-color: white;
    font-size: 14px;
    padding: 4px 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border: 1px solid #b9b9b9;
}

.navButton:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.navButton:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.navButton:hover {
    background-color: #d6d6d6;
}

.navButton:disabled {
    background-color: #f0f0f0;
    cursor: not-allowed;
}

.currentPage {
    font-size: 14px;
    font-weight: 500;
    padding: 4px 8px;
    border: 1px solid #b9b9b9;
    border-left: none;
    border-right: none;
    height: auto;
    display: flex;
    align-items: center;
}